{
  env: {
    node: true,
    es6:  true
  },
  // http://eslint.org/docs/rules/
  extends: 'eslint:recommended',
  rules: {
    strict:               0,
    curly:                [1, 'multi'],
    quotes:               [2, 'single'],
    eol-last:             [0],
    semi:                 [1],
    no-mixed-requires:    [0],
    no-multi-spaces:      0,
    no-underscore-dangle: [0],
    no-use-before-define: [1, 'nofunc'],
    key-spacing:          0
  }
}
